#被git忽略的文件
*.log
*.suo
node_modules/
/WebServer/uploads/
/WebServer/public/doc/
obj/
bin/
bossfile/
/TestProject*
/TestResults
*.testsettings
*.vsmdi
/Release
PublishProfiles/
Web/
website.publishproj
/WebServer/public/neikan/